[Unit]
Description=HomePi 2SingleSwitch

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/guy/Documents/github/Rpi/SmartHome/DoubleSwitch_client.py
[Install]
WantedBy=multi-user.target
